# keymap – just set it to us, may need the console
KEYMAPOPTS="us us"

# hostname
HOSTNAMEOPTS=vm-04

# device manager – mdev is the smallest (busybox) choice
DEVDOPTS=mdev

# network interfaces – static IP on the first virtio NIC
# INTERFACESOPTS="auto lo
# iface lo inet loopback

# auto eth0
# iface eth0 inet static
#     address 192.168.10.25          
#     netmask 255.255.255.0             <- subnet mask
#     gateway 192.168.10.1              <- default gateway for outbound traffic
# "

INTERFACESOPTS="auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp
"

# dns – NOT optional
# everything after this will fail without DNS
# And setting it in INTERFACESOPTS is not sufficient
DNSOPTS="1.1.1.1 1.0.0.1"
# NOTE: If DNS isn't working the package manager doesn't work
# If the package manager doesn't work, none of this works

# timezone – America/Chicago default
# https://gist.github.com/alejzeis/ad5827eb14b5c22109ba652a1a267af5 for options
TIMEZONEOPTS="America/Chicago"

# proxy – set proxy or leave "none"
PROXYOPTS=none

# apk repositories
# usage: setup-apkrepos [-ch] [-f|-r|-1|REPO...]
#        setup-apkrepos -o
# Setup apk repositories
# options:
#  -c  Enable the community repo
#  -f  Detect and add fastest mirror
#  -h  Show this help
#  -o  Only enable a community repo for every defined repo
#  -r  Add a random mirror and do not prompt
#  -1  Add first mirror on the list (normally a CDN)
# Option -o cannot be used with options -c, -f, -r or -1
APKREPOSOPTS="-c -1"
# NOTE: I strongly recommend using -1, the automated script doesn't get a good mirror
# NOTE: Everything will be broken and none of this will work

# user creation
# Contents of setup-user -h
# usage: setup-user [-h] [-a] [-u] [-f FULLNAME] [-g GROUPS] [-k SSHKEY] [USERNAME]
# Create user account
# options:
#  -a  Create admin user. Add to wheel group and set up doas
#  -h  Show this help
#  -f  Set full name for user
#  -g  Comma or space separated list of groups to add user to
#  -k  ssh key or URL to ssh key (eg. https://gitlab.alpinelinux.org/user.keys)
#      or 'none' for no key
#  -u  Unlock the user automatically (eg. creating the user non-interactively
#      with an ssh key for login)
# If USERNAME is not specified user will be prompted.
ADMIN_USERNAME="admin"
USEROPTS="-a -u -g audio,input,video,netdev $ADMIN_USERNAME"

# If you want to not save passwords in plain text,
# needs to be hashed using:
# printf 'password' | mkpasswd -s -m sha512crypt
#
# then you would need to use something like the following in attach-answerfile.sh:
# echo 'root:$6$rounds=40000$abcdefg123456789$h9z...' | chroot /mnt chpasswd -e
# I instead chose to just sudo chmod 600 .env && chown root:root .env
ADMIN_USER_PASSWD="SecurePassword"

# user ssh key
ADMIN_USER_SSH_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEexampleUserKeyGeneratedByMe user@example.com"

# ssh daemon - one of "openssh", "dropbear", or "none".
# in order to have scp functionality you will need openssh-sftp-server
# but I take care of that elsewhere
# dropbear works well and is lighter and faster
# Using it extensively may require getting used to the unique facets of it
SSHDOPTS=dropbear

# root ssh key – optional
ROOT_USER_SSH_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOIiHcbg/7ytfLFHUNLRgEAubFz/13SwXBOM/05GNZe4 juser@example.com"
#ROOTSSHKEY="https://example.com/juser.keys"

# If you want to not save passwords in plain text,
# needs to be hashed using:
# printf 'password' | mkpasswd -s -m sha512crypt
#
# then you would need to use something like the following in attach-answerfile.sh:
# echo 'root:$6$rounds=40000$abcdefg123456789$h9z...' | chroot /mnt chpasswd -e
# I instead chose to just sudo chmod 600 .env && chown root:root .env
ROOT_USER_PASSWD="SecurePassword123"

# ntp – The choices are busybox, openntpd, chrony, and none.
# busybox is the lightest and works
NTPOPTS=busybox

# Contents of setup-disk -h
# usage: setup-disk [-hLqrve] [-k kernelflavor] [-m MODE] [-o apkovl] [-s SWAPSIZE]
#                   [-w FILE] [MOUNTPOINT | DISKDEV...]
# Install alpine on harddisk.
# If MOUNTPOINT is specified, then do a traditional disk install with MOUNTPOINT
# as root.
# If DISKDEV is specified, then use the specified disk(s) without asking. If
# multiple disks are specified then set them up in a RAID array. If there are
# more than 2 disks, then use raid level 5 instead of raid level 1.
# options:
#  -h  Show this help
#  -e  Encrypt disk
#  -m  Use disk for MODE without asking, where MODE is either 'data' or 'sys'
#  -o  Restore system from given apkovl file
#  -k  Use kernelflavor instead of lts
#  -L  Use LVM to manage partitions
#  -q  Exit quietly if no disks are found
#  -r  Enable software raid1 with single disk
#  -s  Use SWAPSIZE MB instead of autodetecting swap size (Use 0 to disable swap)
#  -v  Be more verbose about what is happening
#  -w  Write selected install mode to FILE
# If BOOTLOADER is specified, the specified bootloader will be used.
# If no bootloader is specified, the default bootloader is syslinux(extlinux)
# except when EFI is detected or explicitly set by USE_EFI which will select grub.
# Supported bootloaders are: grub, syslinux, zipl, raspberrypi-bootloader, u-boot, none
# If KERNELOPTS is specified, it will be appended to the kernel boot parameters.
# Default is: quiet
# If DISKLABEL is specified, the specified partition label will be used.
# if no partition label is specified, the default label will be dos
# except when EFI is detected or explicitly set by USE_EFI which will select gpt.
# Supported partition labels are: dos, gpt
# If BOOTFS, ROOTFS, VARFS are specified, then format a partition with specified
# filesystem. If not specified, the default filesystem is ext4.
# Supported filesystems for
#   boot: ext2, ext3, ext4, btrfs, xfs, vfat(EFI)
#   root: ext2, ext3, ext4, btrfs, xfs
#    var: ext2, ext3, ext4, btrfs, xf
# disk layout – install to /dev/vda (the default virtio block device)
#   -m sys   → install a full system disk
#   -s 256   → 256 MiB swap (adjust or set 0 to disable)
DISKOPTS="-m sys -s 4096 /dev/vda"
# NOTE: MAKE SURE TO USE VirtIO Block in proxmox, or it will be sda instead of vda
# NOTE: You can obviously just change it to sda if you're not going ot use VirtIO Block

# boot partition size – 64 MiB is enough for syslinux/grub + kernel
BOOT_SIZE=64

# If you specify -s in DISKOPTS, that value is the one that's used
# swap size in MB – 0 disables it completely
SWAP_SIZE=256

# root size – allocate the rest of the disk to /
# using a percentage works when LVM is enabled, to allocate a fixed size
# Leave empty to just allocate the rest of the disk when not using LVM
ROOT_SIZE=

# lbu – no persistent overlay needed for a minimal image
LBUOPTS=

# apk cache – keep cache on the root filesystem; remove later to save space
APKCACHEOPTS="/var/cache/apk"