# compose.yml
VAULTWARDEN_CONTAINER_IMAGE="docker.io/vaultwarden/server:latest"
VAULTWARDEN_CONTAINER_NAME="vaultwarden"
VAULTWARDEN_DOMAIN="https://vaultwarden.example.com"
# create with: " printf 'password' | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4"
#  printf 'password' | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4 | sed 's#\$#\$\$#g'
VAULTWARDEN_ADMIN_TOKEN='argon2_hashed_value'
VAULTWARDEN_HOST_PORT="80"
VAULTWARDEN_CONTAINER_PORT=80
VAULTWARDEN_NETWORK_NAME="vaultwarden-network-name"
