[${RCLONE_NAME}]
type = ${RCLONE_TYPE}
provider = ${RCLONE_PROVIDER}
access_key_id = ${RCLONE_ACCESS_KEY_ID}
secret_access_key = ${RCLONE_SECRET_ACCESS_KEY}
region = auto
endpoint = ${RCLONE_ENDPOINT}
no_check_bucket = ${RCLONE_NO_CHECK_BUCKET}
