# copy to .env and edit

COMPOSE_PROJECT_NAME=loki
CONTAINER_NAME=loki
ALLOY_CONTAINER_NAME=alloy
RESTART_POLICY=unless-stopped

# LOKI_IMAGE=grafana/loki:3.4.3
# ALLOY_IMAGE=grafana/alloy:v1.8.3

HOST_BIND=127.0.0.1
HOST_PORT=3100
ALLOY_HOST_PORT=12345

DATA_DIR=./data
ALLOY_DATA_DIR=./alloy-data
