# jotty
JOTTY_SERVICE_NAME=jotty_app
JOTTY_IMAGE=ghcr.io/fccview/jotty:latest
JOTTY_CONTAINER_NAME=jotty
JOTTY_HOST_PORT=3000
JOTTY_CONTAINER_PORT=3000
JOTTY_NET=

# frpc-compose
FRPC_IMAGE=fatedier/frpc:v0.69.1
FRPC_CONTAINER_NAME=jotty_frpc

# frpc.toml
JOTTY_FRPC_SERVER_ADDR=
JOTTY_FRPC_SERVER_PORT=
JOTTY_FRPC_TOKEN=
JOTTY_FRPC_TUNNEL_NAME=
JOTTY_FRPC_CUSTOM_DOMAIN=
JOTTY_FRPC_HTTP_AUTH_USER=
JOTTY_FRPC_HTTP_AUTH_PASSWD=
# healthcheck
JOTTY_FRPC_HEALTHCHECK_TUNNEL_NAME=
JOTTY_FRPC_HEALTHCHECK_CUSTOM_DOMAIN=