services:
  ${JOTTY_SERVICE_NAME}:
    image: ${JOTTY_IMAGE}
    container_name: ${JOTTY_CONTAINER_NAME}
    user: "1000:1000"
    ports:
      - "${JOTTY_HOST_PORT}:3000"
    volumes:
      - ./data:/app/data:rw
      - ./config:/app/config:rw
      - ./cache:/app/.next/cache:rw
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - ${JOTTY_NET}

  frpc:
    image: ${FRPC_IMAGE}
    container_name: ${FRPC_CONTAINER_NAME}
    command: ["-c", "/etc/frp/frpc.toml"]
    restart: unless-stopped
    volumes:
      - ./frpc-config/frpc.toml:/etc/frp/frpc.toml:ro
    networks:
      - ${JOTTY_NET}
    depends_on:
      - ${JOTTY_SERVICE_NAME}

networks:
  ${JOTTY_NET}:
      driver: bridge
      internal: false
