# postgres
POSTGRES_USER=joplin_db_admin
POSTGRES_PASSWORD=secure_password
POSTGRES_DATABASE=joplin_sync_persistence
POSTGRES_PORT=5432

# joplin
JOPLIN_SERVER_HOST_PORT=22300
JOPLIN_APP_PORT=22300
APP_BASE_URL=http://localhost:22300