# vars
STANDARDNOTES_CONTAINER_NAME="standardnotes"
STANDARDNOTES_HOST_PORT_0=3000
STANDARDNOTES_HOST_PORT_1=3125
STANDARDNOTES_NETWORK_NAME="standardnotes-net"

LOCALSTACK_CONTAINER_NAME="standardnotes-localstack"

DB_CONTAINER_NAME="standardnotes-db"
DB_HOST=db
DB_PORT=3306
DB_USERNAME=std_notes_user
# poplate with strong passwd
DB_ROOT_PASSWD=""
# populate with strong passwd
DB_USER_PASSWD=""
# populate with strong passwd
DB_PASSWORD=""
DB_DATABASE=standard_notes_db
DB_TYPE=mysql

# redis
REDIS_CONTAINER_NAME="standardnotes-redis"
REDIS_PORT=6379
REDIS_HOST=cache
CACHE_TYPE=redis

# keys
# `openssl rand -hex 32` for all 3
AUTH_JWT_SECRET=
AUTH_SERVER_ENCRYPTION_SERVER_KEY=
VALET_TOKEN_SECRET=
